<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <h1><%= title %></h1>

    <article>
      <p>Here's a list of characters.</p>
      <ul id="character-list"></ul>

      <p><a href="/characters/new">New character</a></p>
    </article>
    <footer><%- include('disclaimer') %></footer>
  </body>
  <script src="/scripts/character-list.js" type="module"></script>
</html>
