<!DOCTYPE html>
<html>
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
    </header>

    <main>
      <article id="character-view">
        <h1 id="char-name" class="block-element"></h1>
        <section id="summary" class="block-element">
          <span id="char-desc"></span>
          <span id="char-type"></span> who
          <span id="char-focus"></span>
        </section>
      </article>
    </main>

    <footer><%- include('disclaimer') %></footer>
    <script src="/scripts/character-view.js" type="module"></script>
  </body>
</html>
