<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <h1><%= title %></h1>

    <article>
      <p>Here's a list of characters.</p>
      <ul>
        <% //loop thru character list from json i guess %>
        <li>Character info goes here</li>
      </ul>

      <p><a href="/characters/new">New character</a></p>
    </article>
    <footer><%- include('disclaimer') %></footer>
  </body>
  <script src="/scripts/character-list.js"></script>
</html>
