<div class="disclaimer-short">
  Numenera, the Cypher System, No Thank You, Evil!, Invisible Sun, and their
  respective logos are trademarks of Monte Cook Games, LLC in the U.S.A. and
  other countries. All Monte Cook Games characters and character names, and the
  distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC.
  Content derived from Monte Cook Games publications is © 2013-2022 Monte Cook
  Games, LLC.
</div>
