<title><%= title %></title>
<meta name="viewport" content="width=device-width initial-scale=1" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml" />
<!-- Favicon source: https://game-icons.net/1x1/lorc/folded-paper.html
      Creator: Lorc https://lorcblog.blogspot.com/
      License: CC BY 3.0 http://creativecommons.org/licenses/by/3.0/ -->
