<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
      <h1><%= title %></h1>
    </header>
    <a href="./characters">
      <div class="block-element menu-item">
        <span class="menu-item-text"> Character Creator </span>
      </div>
    </a>

    <footer><%- include('disclaimer') %></footer>
  </body>
</html>
