<!DOCTYPE html>
<html>
  <head>
    <%- include('head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('./nav-primary.ejs') %>
      <h1><%= title %></h1>
    </header>
    <main>
      <article class="block-element">
        <h2>Full Disclaimer</h2>

        <div>
          The Monte Cook Games logo, Numenera, the Cypher System, No Thank You, Evil!, Invisible
          Sun, and their respective logos are are trademarks of Monte Cook Games, LLC in the U.S.A.
          and other countries. All Monte Cook Games characters and character names, and the
          distinctive likenesses thereof, are trademarks of Monte Cook Games, LLC. Content on this
          site or associated files derived from Monte Cook Games publications is © 2013-2022 Monte
          Cook Games, LLC. Monte Cook Games permits web sites and similar fan-created publications
          for their games, subject to the policy given at
          <a href="https://www.montecookgames.com/fan-use-policy/"
            >https://www.montecookgames.com/fan-use-policy/</a
          >. The contents of this site are for personal, non-commercial use only. Monte Cook Games
          is not responsible for this site or any of the content, that did not originate directly
          from Monte Cook Games, on or in it. Use of Monte Cook Games's trademarks and copyrighted
          materials anywhere on this site and its associated files should not be construed as a
          challenge to those trademarks or copyrights. Materials on this site may not be reproduced
          or distributed except with the permission of the site owner and in compliance with Monte
          Cook Games policy given at
          <a href="https://www.montecookgames.com/fan-use-policy/"
            >https://www.montecookgames.com/fan-use-policy/</a
          >.
        </div>
      </article>
    </main>
  </body>
</html>
