<fieldset>
  <legend>Damage Track</legend>
  <label><input type="radio" name="damage-track" value="Hale" id="dt-hale" checked /> Hale</label>
  <br />
  <label><input type="radio" name="damage-track" value="Impaired" id="dt-impaired" /> Impaired</label>
  <br />
  <label><input type="radio" name="damage-track" value="Debilitated" id="dt-debilitated" /> Debilitated</label>
  <br />
  <label><input type="radio" name="damage-track" value="Dead" id="dt-dead" /> Dead</label>
  <br />
</fieldset>
