<fieldset>
  <legend>Recovery</legend>
  <div class="recovery-bonus">
    <label
      >Points regained per roll: 1d6 +
      <input type="number" name="recovery-bonus" id="recovery-bonus" min="1" value="1"/>
    </label>
  </div>

  <fieldset>
    <legend>Recovery rolls</legend>
    <!-- using class instead of ID for these, because some foci grant addt'l recovery rolls-->
    <label>
      <input type="checkbox" name="recovery-rolls" class="rr rr-1-action" value="oneAction" />
      1 action
    </label>
    <label>
      <input type="checkbox" name="recovery-rolls" class="rr rr-10-minutes" value="tenMinutes" />
      10 minutes
    </label>
    <label>
      <input type="checkbox" name="recovery-rolls" class="rr rr-1-hour" value="oneHour" />
      1 hour
    </label>
    <label>
      <input type="checkbox" name="recovery-rolls" class="rr rr-10-hours" value="tenHours" />
      10 hours
    </label>
  </fieldset>
</fieldset>
