<fieldset>
  <legend>Damage Track</legend>
  <label><input type="radio" name="damage-track" value="hale" id="dt-hale" checked /> Hale</label>
  <br />
  <label><input type="radio" name="damage-track" value="impaired" id="dt-impaired" /> Impaired</label>
  <br />
  <label><input type="radio" name="damage-track" value="debilitated" id="dt-debilitated" /> Debilitated</label>
  <br />
  <label><input type="radio" name="damage-track" value="dead" id="dt-dead" /> Dead</label>
  <br />
</fieldset>
