<fieldset>
  <legend>Advancements</legend>
  <div>
    <label>
      <input type="checkbox" name="advancements" id="adv-stats" value="adv-stats" />
      Increase Capabilities (+4 to stat pools)
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="advancements" id="adv-effort" value="adv-effort" />
      Extra Effort (+1 to Effort)
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="advancements" id="adv-edge" value="adv-edge" />
      Move Toward Perfection (+1 to Edge)
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="advancements" id="adv-skill" value="adv-skill" />
      Skill Training (Train or specialize in a skill)
    </label>
  </div>
  <div>
    <label>
      <input type="checkbox" name="advancements" id="adv-other" value="adv-other" />
      Other: <input type="text" name="advancements" id="adv-other-detail" />
      <br />(refer to <cite>Discovery</cite> ch. 22 for options)
    </label>
  </div>
</fieldset>
