<div class="tier-info">
  <div class="tier">
    <label>Tier <input type="number" name="tier" id="tier" value="1" min="1" max="6"/></label>
  </div>
  <div class="effort">
    <label>Effort <input type="number" name="max-effort" id="max-effort" value="1" min="1" max="6" /></label>
  </div>
  <div class="xp">
    <label>XP <input type="number" name="xp" id="xp" value="0" min="0" max="10" /></label>
  </div>
</div>
