<label for="char-name">
  <input type="text" name="name" id="char-name" placeholder="Name" />
</label>
<br />

is a(n)
<label for="char-desc">
  <select name="descriptor" id="char-desc"></select>
</label>

<label for="char-type">
  <select name="type" id="char-type"></select>
</label>

who
<label for="char-focus">
  <select name="focus" id="char-focus"></select>
</label>
