<div class="tier-info">
  <div class="tier">
    <label>Tier <input type="number" name="tier" id="tier" /></label>
  </div>
  <div class="effort">
    <label>Effort <input type="number" name="max-effort" id="max-effort" /></label>
  </div>
  <div class="xp">
    <label>XP <input type="number" name="xp" id="xp" /></label>
  </div>
</div>
