<label for="char-name">
  <input type="text" name="name" id="char-name" placeholder="Name" required />
</label>
<button type="button" id="btn-random-name" class="btn-square btn-inline btn-random">Random Name</button>
<br />

is a(n)
<label for="char-desc">
  <select name="descriptor" id="char-desc" required></select>
</label>

<label for="char-type">
  <select name="type" id="char-type" required></select>
</label>

who
<label for="char-focus">
  <select name="focus" id="char-focus" required></select>
</label>
