<%# Dynamic list: User can add, define, and remove entries using various types of entry %> <%#
USAGE: include('form-controls/dynamic-list.ejs', { entryType: "entryType" }) %>

<button type="button" id="btn-add-<%= entryType %>" class="btn-square btn-inline btn-add" disabled>
  <span class="hidden-text">Add new</span>
</button>
<ul id="list-<%= entryType %>">
  <li>i'm sorry i didn't finish this bit</li>
  <%# list starts empty, populate via JavaScript %>
</ul>
