body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: rgb(35, 225, 111);
  font: 18px Lexend, Helvetica, sans-serif;
}

.button {
  background-color: rgb(255, 183, 235);
  width: 20ch;
  padding: 8px;
  text-align: center;
  border: solid 1px #000;

  a {
    color: #8d007c;
    text-decoration: none;
  }
}
